* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2a1b3d;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 50%;
  height: 70%;
  border: 1px solid #ff3c78;
}

h1 {
  text-align: center;
  color: white;
  background-color: #ff3c78;
}

[data-testid="slackDisplayImage"] {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 0 auto;
}

[data-testid="slackUserName"] {
  background-color: #2a1b3d;
}

[data-testid="myTrack"] {
  color: white;
  text-align: center;
  padding: 1em;
}

div {
  margin: 0 auto;
  width: 50%;
}

a {
  text-align: center;
  position: absolute;
  font-size: 1.3em;
  /* border: 1px solid white; */
  color: white;
  padding: 0.5em;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
  background-color: #ff3c78;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}

@media (max-width: 414px) {
    main {
        width: 100%;
        height: 100%;
    }
}
